<h1>タスク一覧</h1>

<%= flash[:notice] %>
<%= form_with model: @task, url: tasks_path, method: :get do |f| %>
<%= f.select :sort, [['作成順', "作成順"], ['終了期限の近い順', "終了期限の近い順"]], { selected: '作成順' } , { class: "form-select" } %>
<%= f.submit "ソート", class: "btn btn-primary" %>
<% end %>

<%= search_form_for @q, url: search_tasks_path do |f| %>

<%= f.label :name_cont, class: "form-label" %>
<%= f.search_field :name_cont, class: "form-control" %>

<%= f.label :status_eq_any, "未着手", class: "form-label" %>
<%= f.check_box :status_eq_any, { multiple: true, include_hidden: false, class: "form-check-input" }, 0 %>
<%= f.label :status_eq_any, "着手中" %>
<%= f.check_box :status_eq_any, { multiple: true, include_hidden: false, class: "form-check-input" }, 1 %>
<%= f.label :status_eq_any, "完了" %>
<%= f.check_box :status_eq_any, { multiple: true, include_hidden: false, class: "form-check-input" }, 2 %>

<%
=begin 
%>
<% @statuses.each do |status| %>
<%= debug status %>
<%= f.label :status_eq_any, status[1] %>
<%= f.check_box :status_eq_any, { multiple: true, include_hidden: false }, status[0] %>


<% end %>
<%
=end 
%>

<%= f.submit "検索", class:"btn btn-primary" %>
<% end %>

<ul class="tasks list-unstyled mt-4 m-auto">
  <% @tasks.each do |task| %>
  <li class="list-task card">
    <div class="task-name card-header">
      <%= link_to task.name, task_path(task.id) %>
    </div>
    <div class="card-body">
      <h5>内容</h5>
      <div class="task-content">
        <%= task.content %>
      </div>
      <h5>ステータス</h5>
      <div class="task-status">
        <%= task.status_i18n %>
      </div>
      <h5>終了期限</h5>
      <div class="task-expiration-deadline">
        <%= task.expiration_deadline.to_s(:datetime) %>
      </div>
    </div>
  </li>
  <% end %>

</ul>
<%= paginate @tasks %>
