<h1>タスク新規作成</h1>

<%= form_with(model: @task) do |f| %>
<%= f.label :name, "タスク名" %>
<%= f.text_field :name %>

<%= f.label :content, "内容" %>
<%= f.text_area :content, size: "30*5" %>

<%= f.submit "登録" %>
<% end %>
