<h1>検索結果</h1>

<%= flash[:notice] %>
<%= form_with model: @task, url: tasks_path, method: :get do |f| %>
<%= f.select :sort, [['作成順', "作成順"], ['終了期限の近い順', "終了期限の近い順"]], selected: '作成順' %>
<%= f.submit "ソート" %>
<% end %>

<%= search_form_for @q, url: search_tasks_path do |f| %>

<%= f.label :name_cont %>
<%= f.search_field :name_cont %>

<% @statuses.each do |status| %>
<%= f.check_box :status_eq_any, { multiple: true, include_hidden: false }, status[0] %>
<%= f.label status[1] %>
<% end %>

<%= f.submit %>
<% end %>

<ul class="tasks">
  <% @tasks.each do |task| %>
  <li class="list-task">
    <h2>タスク名</h2>
    <div class="task-name">
      <%= task.name %>
    </div>
    <h2>内容</h2>
    <div class="task-content">
      <%= task.content %>
    </div>
    <h2>終了期限</h2>
    <div class="task-expiration-deadline">
      <%= task.expiration_deadline.to_s(:datetime) %>
    </div>
  </li>
  <% end %>
</ul>
